{% extends 'tasks_students_bank/base.html' %}

{% block content %}
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Практика</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'math_page' %}">
                <button type="button" class="btn btn-primary">Математика</button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'russian_language_page' %}">
                    <button type="button" class="btn btn-primary">Русский язык</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}