{% extends 'tasks_students_bank/base.html' %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Практика</th>
        </tr>
        </thead>
        <tbody>
        {% for link in practicals_links %}
        <tr>
            <td>
                <li><a href="{{ link.0 }}">{{ link.1 }}</a></li>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if request.user.is_authenticated and request.user.is_staff%}
    <form method="post" action="{% url 'create_lesson' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Добавить практику</button>
    </form>
    {% endif %}

</div>
{% endblock %}