{% extends 'tasks_students_bank/base.html' %}

{% block content %}
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Предмет</th>
        </tr>
    </thead>
    <tbody>
         {% for task in menu %}
        <tr>
            <td>
                {% if task.subject_name  == 'Математика' %}
                    <a href="{% url 'math_page'%}">
                        <button type="button" class="btn btn-primary">{{ task.subject_name }}</button>
                    </a>
                {% elif task.subject_name == 'Русский' %}
                    <a href="{% url 'russian_language_page'%}">
                        <button type="button" class="btn btn-primary">{{ task.subject_name }}</button>
                    </a>
                {% elif task.subject_name == 'Информатика' %}
                    <a href="{% url 'inf_page'%}">
                        <button type="button" class="btn btn-primary">{{ task.subject_name }}</button>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}